name: Deploy Java App to Amazon EC2

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses:   actions/checkout@v4

            - name: Setup on jdk 21
              uses: actions/setup-java@v4
              with:
                distribution: microsoft
                java-version: '21'
                cache: 'gradle'

            - name: Make Gradle wrapper executable
              run: chmod +x gradlew

            - name: Build with Gradle and Shadowjar
              run: ./gradlew clean shadowjar

            - name: Print generated JAR path
              run: find build/libs -name "*.jar" -print

            - name: Deploy to EC2
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{secrets.EC2_HOST}}
                username: ${{secrets.EC2_USER}}
                key: ${{secrets.EC2_SSH_PRIVATE_KEY}}
                script: |
                    sudo pkill -f "java -jar /opt/my-java-app/my-java-app*.jar" || true
                    rm -f /opt/my-java-app/my-java-app*.jar

                    echo "Deployment script for future use"
            - name: Copy JAR to  EC2
              uses: appleboy/scp-action@v1
              with: 
                host: ${{secrets.EC2_HOST}}
                username: ${{secrets.EC2_USER}}
                key: ${{secrets.EC2_SSH_PRIVATE_KEY}}
                source: "build/libs/*.jar"
                target: "/opt/my-java-app/"

            - name: Restart App on EC2
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{secrets.EC2_HOST}}
                username: ${{secrets.EC2_USER}}
                key: ${{secrets.EC2_SSH_PRIVATE_KEY}}
                script: |
                    sudo pkill -f "java -jar /opt/my-java-app/my-java-app*.jar" || true
                    JAR_NAME=$(ls /opt/my-java-app/my-java-app*.jar | head -n 1) # Encontrar el JAR
                    nohup java -jar $JAR_NAME > /dev/null 2>&1 &
                    echo "Application started!"
                    sleep 5
                    ps aux | grep "java -jar /opt/my-java-app/my-java-app*.jar" | grep -v grep